body{
    background-color: rgb(179, 248, 160);
}

h1{
    color: rgb(49, 109, 93);
    text-align:center;
    font-size: 42px
}

div{
    background-color: rgb(255, 228, 196);
    margin: 40px;
}

p{
    margin: 20px;
    color: rgb(154, 38, 38);
    font-size: 20px;
    font-family: verdana;
}