/*fondo*/
body{background-color: #0099ff;}

/*color de texto*/
h1{color:rgba(125, 125, 125, 0.25)}
h2{color:rgb(67, 129, 131); text-align:center}
h3{color:hsla(240, 100%, 50%, 1 );  text-align:center}
p{color: #ffffff;}

/*selector de clase con color y tamaño de letra (font-size en px) en un segundo párrafo con clas=""*/

.inventario{color:#004578; font-size: 24px;}